apiVersion: v1
data:
  nginx.conf: |
    server {
        listen 80;
        server_name localhost;

        location /api/qa/ {
            proxy_pass http://qa-service/api/qa/;
        }

        location /api/ {
            proxy_pass http://query-service:8080/api/;
        }

        location = /streams.html {
            alias /usr/share/nginx/html/ui/streams.html;
            types { text/html html; }
            default_type text/html;
        }

        location / {
            root   /usr/share/nginx/html;
            autoindex on;
        }

        # This block is for the JavaScript to fetch the raw log content.
        # It must be defined *before* the general log viewer block.
        location /raw-logs/ {
            alias /usr/share/nginx/html/;
            default_type text/plain;
            add_header X-Content-Type-Options nosniff;
            add_header Content-Disposition "inline";
        }

        # This block serves the HTML viewer when a user navigates to a log file.
        location ~ ^/jobs/.*\.(log|txt|out)$ {
            alias /usr/share/nginx/html/ui/log-viewer.html;
            default_type text/html;
        }

        location ~ ^/ui/streams/([^/]+)/monitor {
            alias /usr/share/nginx/html/ui/monitor.html;
            types { text/html html; }
            default_type text/html;
        }
    }
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: nginx-conf
